STRAVA_CLIENT_SECRET=# Credentials from Strava
STRAVA_CLIENT_ID=# Credentials from Strava
STRAVA_VERIFY_TOKEN=# Generate random string

SECRET_KEY=# Generate random string

DEV_URL=http://localhost:5000
PROD_URL=